.conatiner-form-login {
    margin: 15rem 0 0;
}

.form-field input[type=text],
input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

@media (max-width: 2100px ) and (min-width:1400) {
    .conatiner-form-login {
        margin: 30rem 0 0;
    }
}
